In [107]:
import pdfplumber
import pandas as pd

In [108]:
pdf = pdfplumber.open('/Users/Gui/Desktop/code/world_cup_code/PDF_stadium_usage/ARENA DA AMAZONIA/combined_amazonia.pdf')

In [109]:
first_game = pdf.pages[0]
first_game_text = first_game.extract_text()
print(first_game_text)

BOLETIM FINANCEIRO
MANAUS AM x NAUTICO PE ESTÁDIO
DADOS Data: 02/05/2023 ARENA DA AMAZÔNIA
JOGO Nº 09 Horário: 20:30
Competição: Oficial: X Amistoso:
Categoria: Internacional: Interestadual: X Local:
Denominação da Competição CIDADE UF BF
MANAUS Nº 09/ 23
CAMPEONATO BRASILEIRO SERIE C AM
LOCALIDADE CARGA DEVOLVIDOS UTILIZADOS PREÇO ARRECADAÇÃO
Arquibancada INTEIRO 4000 3642 358 R$ 50,00 R$ 17.900,00
S
A Arq. Meia e Promocional 8000 5655 2345 R$ 25,00 R$ 58.625,00
T
IE Camarote 0 0 0 R$ R$ 0,00
C
E Cortesias e Convidados 3572 1584 1988 R$ R$
R
Sócio Torcedor 0 0 0 R$ R$
TOTAIS 15572 10881 4691 R$ 76.525,00
B1 - Aluguéis e seguros
Seguro (Torcedor e arbitragem ) R$
Estádio (operacional) R$
Diferença para chegar ao valor da Taxa Mínima de Seguro R$
R$
TOTAL - B1 R$
B2 - Taxas e Impostos
5% - INSS R$ 3.826,25
5% - FAF R$ 3.826,25
5% - ISS R$ 3.826,25
TOTAL - B2 R$ 11.478,75
B3 - Despesas Operacionais
Confecção, Emissão e Venda de Ingressos R$
Organização e Coordenadores R$ 16.000,00
Aluguel de gradil R$
S
A Controladores de Acesso (orientadores) R$ 32.200,00
S
E Segurança Privada R$ 22.500,00
P
S R$
E
D R$
R$
Despesas Quitadas de forma antecipada pelas EPD´s
Árbitros e Árbitros Assistentes R$
INSS - 20% sobre a remuneração Árbitros e Árbitros Assistentes R$
Transporte da Arbitragem R$
Colaborador Operacional R$ 790,00
Transporte do colaborador Operacional R$
Aluguel de Ambulância R$ 450,00
Lanche (refrigerante, agua e sanduiche) policiamento R$ 280,00
Apoio aos jogos (gandulas e maqueiros) R$ 400,00
R$
- R$
TOTAL - B3 R$ 72.620,00
S
O TOTAL DAS DESPESAS (B1+B2+B3) R$ 84.098,75
T
N R$
O R$
C
S R$
E
D R$
RENDA LÍQUIDA (RECEITA - DESPESAS) R$ -7.573,75
DIVISÃO DA RENDA LÍQUIDA
DEDUÇÕES
INSS - 5% sobre a Renda Bruta LÍQUIDO À RECEBER
CLUBES VALOR PARC.ESPECIAL OUTRAS
MANAUS AM 100% R$ (7.573,75)
MANAUS AM Federação Amazonene de Futebol

In [110]:
first_game_text_clean = first_game_text.split('\n')
first_game_text_clean

['BOLETIM FINANCEIRO',
 'MANAUS AM x NAUTICO PE ESTÁDIO',
 'DADOS Data: 02/05/2023 ARENA DA AMAZÔNIA',
 'JOGO Nº 09 Horário: 20:30',
 'Competição: Oficial: X Amistoso:',
 'Categoria: Internacional: Interestadual: X Local:',
 'Denominação da Competição CIDADE UF BF',
 'MANAUS Nº 09/ 23',
 'CAMPEONATO BRASILEIRO SERIE C AM',
 'LOCALIDADE CARGA DEVOLVIDOS UTILIZADOS PREÇO ARRECADAÇÃO',
 'Arquibancada INTEIRO 4000 3642 358 R$ 50,00 R$ 17.900,00',
 'S',
 'A Arq. Meia e Promocional 8000 5655 2345 R$ 25,00 R$ 58.625,00',
 'T',
 'IE Camarote 0 0 0 R$ R$ 0,00',
 'C',
 'E Cortesias e Convidados 3572 1584 1988 R$ R$',
 'R',
 'Sócio Torcedor 0 0 0 R$ R$',
 'TOTAIS 15572 10881 4691 R$ 76.525,00',
 'B1 - Aluguéis e seguros',
 'Seguro (Torcedor e arbitragem ) R$',
 'Estádio (operacional) R$',
 'Diferença para chegar ao valor da Taxa Mínima de Seguro R$',
 'R$',
 'TOTAL - B1 R$',
 'B2 - Taxas e Impostos',
 '5% - INSS R$ 3.826,25',
 '5% - FAF R$ 3.826,25',
 '5% - ISS R$ 3.826,25',
 'TOTAL - B2 R$ 11.478,75',
 'B3 - Despesas Operacionais',
 'Confecção, Emissão e Venda de Ingressos R$',
 'Organização e Coordenadores R$ 16.000,00',
 'Aluguel de gradil R$',
 'S',
 'A Controladores de Acesso (orientadores) R$ 32.200,00',
 'S',
 'E Segurança Privada R$ 22.500,00',
 'P',
 'S R$',
 'E',
 'D R$',
 'R$',
 'Despesas Quitadas de forma antecipada pelas EPD´s',
 'Árbitros e Árbitros Assistentes R$',
 'INSS - 20% sobre a remuneração Árbitros e Árbitros Assistentes R$',
 'Transporte da Arbitragem R$',
 'Colaborador Operacional R$ 790,00',
 'Transporte do colaborador Operacional R$',
 'Aluguel de Ambulância R$ 450,00',
 'Lanche (refrigerante, agua e sanduiche) policiamento R$ 280,00',
 'Apoio aos jogos (gandulas e maqueiros) R$ 400,00',
 'R$',
 '- R$',
 'TOTAL - B3 R$ 72.620,00',
 'S',
 'O TOTAL DAS DESPESAS (B1+B2+B3) R$ 84.098,75',
 'T',
 'N R$',
 'O R$',
 'C',
 'S R$',
 'E',
 'D R$',
 'RENDA LÍQUIDA (RECEITA - DESPESAS) R$ -7.573,75',
 'DIVISÃO DA RENDA LÍQUIDA',
 'DEDUÇÕES',
 'INSS - 5% sobre a Renda Bruta LÍQUIDO À RECEBER',
 'CLUBES VALOR PARC.ESPECIAL OUTRAS',
 'MANAUS AM 100% R$ (7.573,75)',
 'MANAUS AM Federação Amazonene de Futebol']

In [111]:
free_tickets = []
for sentences in first_game_text_clean:
    if 'Cortesias' in sentences:
        free_tickets.append(sentences)

free_tickets

['E Cortesias e Convidados 3572 1584 1988 R$ R$']

In [112]:
free_tickets_numbers = [sentence.split()[-3] for sentence in free_tickets]
free_tickets_numbers

['1988']

In [113]:
for numbers in range(len(free_tickets_numbers)):
    free_tickets_numbers_list = [int(free_tickets_numbers[numbers])]

free_tickets_numbers_list

[1988]

In [114]:
for i in range(1,9):
    game = pdf.pages[i]
    game_text = game.extract_text()
    game_text_clean = game_text.split('\n')
    free_tickets_buffer = []
    for sentences in game_text_clean:
        if 'Cortesias' in sentences:
            free_tickets_buffer.append(sentences)
    free_tickets_buffer = [sentence.split()[-3] for sentence in free_tickets_buffer]
    if not free_tickets_buffer:
        free_tickets_numbers_list.append([])
        continue
    for numbers in range(len(free_tickets_buffer)):
        free_tickets_buffer[numbers] = free_tickets_buffer[numbers].replace('.', '')
        try:
            number = int(free_tickets_buffer[numbers])
            free_tickets_numbers_list.append(number)
        except ValueError:
            free_tickets_numbers_list.append([])
            continue

free_tickets_numbers_list

[1988, [], 1375, 1029, 1078, [], 1603, [], []]

In [115]:
second_game = pdf.pages[1]
second_game_text = second_game.extract_text()
print(second_game_text)

1
FEDERAGAO
D
AMAZONENSE
om? DE FUTEBOL
BOLETIM FINANCEIRO
MANAUS AM __|x| ALTOS Pl ESTADIO
DADOS] | (5 Data: 14/05/2023 ARENA DA AMAZONIA
JOGO N° 029 Horarlo: 15:00
Competigdo: Oficial [x] Amistoso:[_]
Categoria: Internacional: LC] Interestadual: Local: | BRASILE! RAO
Denominag4o da Competigao CIDADE UF SERIn'e
CAMPEONATO BRASILEIRO SERIE C MANAUS aw |N° 29/ 23
3 of ~ —— __ {{ A |_A r C|r oq Cq ra.u tm i ea sb rM ia oe atin sa ecL aO edC
e
aA P CL r oI o nID m vA N o iD T c dE E i
a
I o dR n oO a sl C 1 5A 4 0 0R 5 9 00G 5
0
A DEVO 243L 858V 34 3I
8
D OS | UTIL 26I 16 4Z 0 66 2 A
2
D OS R R R RS $ $
S
PREGO 5 250 ,, 00 00 |} RR ) R
R
$ ARRECADACA 1O 63 .. 03 50 00 0,, ,00 000 0
/[Sdcio Torc Ted Oo Tr A IS 6545 3675 280 7 0 R$ |[R R $ 19.350,00
Ai Si endef asa oe tons a B1 - Aluguéls e seguros
[ES se tg au dr io o ( (T oo pr ec re ad co ir o nae l )a rbitragem ) R R $
. Diferenga para chegar ao valor da Taxa Minima de Seguro R
R
TOTAL - B1 R$
B2 -Taxas e Impostos
R$ 967,50
5% -INSS R 967,50
5% - FAF R 967,50
5%e T - ISS TT TOTAL~B2 R$ 2.902,50
x A ee tas Ori B3 = Despesas Operacionais
C Oo rn gf ae nc ic za ao g,
a o
Em
e
is Cs oa oo
r
dee naV de on rd ea
s
de Ingressos RR 20.500,00
A SCl eou n gg t uu r re o al l n a gdd ae o reg Pr s ra idi vdl ae d aA cesso (orientadores) RR R R 17 5. .6 00 00 0, ,0 00 0
guadro movel R 4.200,00
Logistica
RS
{ Tj Despesas Quitadas de forma antecipada pelas EPD!s#7
Arbitros e Arbitros Assistentes Rg
TT CI rr oN aa lS nnS a ss b pp o o- o r rr2 a tt0 d ee o% r d d oas Oo pb A cer r oe rb l ai act ba i r ooa rr ng ae ae dm lm ou rn er Oa pec ra ao c ioA nrb ai lt ros e Arbitros Assistentes R R R R Rg
Aluguel de Ambulancia
_{ AL pa on ic oh e ao( sr e jf or gig oe sr an (t ge a,
n
dua lg au sa ee ms aa qnd uu ei ic rh oe s)
)
policiamento R R:
R
: - |R
tabs | TOTALS BS R$
TOTAL DAS DESPESAS (B1+B2+B3) ° eos
N
it RENDA LIQUIDA (RECEITA - DESPESAS) I
DIVISAO DA RENDA LTQUIDA
DEDUCGOES ial sy
| Liquino A RECEBER
CLUBES VALOR OU 1T 0R 0A % S [R$ (32.772,50)}
[MANAUS AM
Nico Leh ouins Wo BRS
MANAUS AM ederagao Amazorene de Futebol
Scanned with CamScanner

In [129]:
free_tickets_numbers_list[1] = 2162
free_tickets_numbers_list[5] = 3150
free_tickets_numbers_list[7] = 2000
free_tickets_numbers_list[8] = 5800

In [130]:
free_tickets_numbers_list

[1988, 2162, 1375, 1029, 1078, 3150, 1603, 2000, 5800]

In [131]:
games_id = ['Nº 09/ 23', 'Nº 29/ 23', 'Nº 129/ 23', 'Nº 139/ 23', 'Nº 179/ 23', 'Nº 198/23', 'Nº 204/ 23', 'Nº 214/23', 'Nº 215/23']

In [132]:
games_id_free_tickets = {games_id[i]: free_tickets_numbers_list[i] for i in range(len(games_id))}
games_id_free_tickets

{'Nº 09/ 23': 1988,
 'Nº 29/ 23': 2162,
 'Nº 129/ 23': 1375,
 'Nº 139/ 23': 1029,
 'Nº 179/ 23': 1078,
 'Nº 198/23': 3150,
 'Nº 204/ 23': 1603,
 'Nº 214/23': 2000,
 'Nº 215/23': 5800}

In [133]:
df = pd.DataFrame(list(games_id_free_tickets.items()), columns = ['Game ID', 'Free Tickets'])
df

      Game ID  Free Tickets
0   Nº 09/ 23          1988
1   Nº 29/ 23          2162
2  Nº 129/ 23          1375
3  Nº 139/ 23          1029
4  Nº 179/ 23          1078
5   Nº 198/23          3150
6  Nº 204/ 23          1603
7   Nº 214/23          2000
8   Nº 215/23          5800

In [128]:
total_tickets = []
for i in range(0,9):
    game = pdf.pages[i]
    game_text = game.extract_text()
    game_text_clean = game_text.split('\n')
    total_tickets_buffer = []
    for sentences in game_text_clean:
        if 'TOTAIS' in sentences:
            total_tickets_buffer.append(sentences)
    total_tickets_buffer = [sentence.split()[-3] for sentence in total_tickets_buffer]
    if not total_tickets_buffer:
        total_tickets.append([])
        continue
    for numbers in range(len(total_tickets_buffer)):
        total_tickets_buffer[numbers] = total_tickets_buffer[numbers].replace('.', '')
        try:
            number = int(total_tickets_buffer[numbers])
            total_tickets.append(number)
        except ValueError:
            total_tickets.append([])
            continue

total_tickets

[4691, [], 3234, 2177, 2323, [], 4559, [], []]

In [134]:
total_tickets[1] = 2870
total_tickets[5] = 10026
total_tickets[7] = 44500
total_tickets[8] = 23923

total_tickets

[4691, 2870, 3234, 2177, 2323, 10026, 4559, 44500, 23923]

In [136]:
df['Total Tickets'] = total_tickets
df['Percentage of Free Tickets'] = (df['Free Tickets'] / df['Total Tickets'])*100
df['Percentage of Stadium Used'] = (df['Total Tickets']/44300)*100
df

,Game ID,Free Tickets,Total Tickets,Percentage of Free Tickets,Percentage of Stadium Used
0,Nº 09/ 23,1988,4691,42.379024,10.589165
1,Nº 29/ 23,2162,2870,75.331010,6.478555
2,Nº 129/ 23,1375,3234,42.517007,7.300226
3,Nº 139/ 23,1029,2177,47.266881,4.914221
4,Nº 179/ 23,1078,2323,46.405510,5.243792
5,Nº 198/23,3150,10026,31.418312,22.632054
6,Nº 204/ 23,1603,4559,35.161220,10.291196
7,Nº 214/23,2000,44500,4.494382,100.451467
8,Nº 215/23,5800,23923,24.244451,54.002257

In [137]:
df['Percentage of Free Tickets'].mean()

38.80197744288092

In [138]:
df['Percentage of Stadium Used'].mean()

24.655881615249562